<header class="main"><!-- header START -->
    <img src="{{site.root}}/assets/img/profile.png" alt="my profile image">
    <ul class="developer" data-text="developer" data-symbol="}">
        <li>Android</li>
        <li>web</li>
    </ul>
    <nav class="main">
        <ul><!--
         --><li class="active" ><a href="{{site.root}}/">log</a></li><!--
         --><li ><a href="#">Work</a></li><!--
         --><li ><a href="#">bMark</a></li><!--
         --><li ><a href="#">TODO</a></li><!--
     --></ul>
    </nav>
    <ul class="social" data-befor="Check out my" data-after="links"><!--
     --><li><a href="#">facebook</a></li><!--
     --><li><a href="#">twitter</a></li><!--
     --><li><a href="#">google+</a></li><!--
     --><li><a href="#">github</a></li><!--
 --></ul>
</header><!-- header END -->