<header class="main"><!-- header START -->
    <img src="{{site.root}}/assets/img/profile.jpg" alt="my profile image">
    <ul class="developer" data-text="developer" data-symbol="}">
        <li>Android</li>
        <li>web</li>
    </ul>
    <nav class="main">

        <ul>
        {% for link in site.navigation %}
            {% assign active = nil %}
            {% assign pageurl = site.root | append:link.url %}
            {% if page.url == pageurl or page.layout == link.layout %}
                {% assign active = 'active' %}
            {% endif %}
            <li class="{{ active }}"><a href="{{pageurl}}">{{ link.text }}</a></li>
        {% endfor %}
        </ul>
    </nav>
    <ul class="social" data-befor="Check out my" data-after="links"><!--
     --><li><a href="#">facebook</a></li><!--
     --><li><a href="#">twitter</a></li><!--
     --><li><a href="#">google+</a></li><!--
     --><li><a href="#">github</a></li><!--
 --></ul>
</header><!-- header END -->